#### App config
APP_PORT=4000
NODE_ENV=development

### Garage S3 config

# Generate min 16 bytes hex
GARAGE_DEFAULT_ACCESS_KEY=
# Generate 32 bytes hex
GARAGE_DEFAULT_SECRET_KEY=
GARAGE_DEFAULT_BUCKET=storage
GARAGE_ENDPOINT=http://localhost:3900